body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    position: relative;
    width: 100%;
    height: 300px; /* Adjust the height as needed */
    overflow: hidden;
  }
  
  header img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  nav {
    background-color: #333;
    overflow: hidden;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0;
  }
  
  nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 48px;
    text-decoration: none;
    font-size: large;
    font-style: italic;
  }
  
  nav ul li a:hover {
    color: #575757;
  }
  
  .pav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    color: grey;
  }
  
  .announcements-box {
    background-color: rgb(0, 118, 253);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .announcements-box h3 {
    margin: 0;
    font-size: 1.2em;
  }
  
  .sliding-text-container {
    position: relative;
    width: 1305px; /* Adjust the width as needed */
    overflow: hidden;
    white-space: nowrap;
  }
  
  .sliding-text {
    display: inline-block;
    animation: slide 10s linear infinite;
  }
  
  @keyframes slide {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .slider {
    position: relative;
    width: 100%;
    max-width: 2000px;
    overflow: hidden;
    border: 2px solid #ddd;
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    min-width: 100%;
    box-sizing: border-box;
    animation: slideimg 8s linear infinite;
  }

  @keyframes slideimg {
    0% {
      transform: translateX(0%);
    }
    10%{
      transform: translate(-100%);
    }
    35%{
      transform: translate(-100%);
    }
    45%{
      transform: translate(-200%);
    }
    70% {
      transform: translateX(-200%);
    }
    80% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(-300%);
    }
  }

  .paused{
    animation-play-state: paused;
  }
  
  .slide img {
    width: 100%;
    display: block;
  }
  
  a.prev, a.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* color: white; */
    padding-left: 43px;
    padding-right: 15px;
    padding-top: 65px;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 18px;
  }
  
  a.prev {
    left: 0px;
  }
  
  a.next {
    right: 0px;
  }